
#viewer-container {
    position: relative!important;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#viewer-container #viewer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0;
}
.toolbox-container {
    position: relative;
    width: 100%;
}
.pdfViewer {
    height: 400px;
    padding-top: 0;
    margin-left: 190px;
    transition: all 0.5s;
    background-color: #F1F3F7;
}
.toolbox-container {
    position: relative;
    width: 100%;
    height: 0;
}
.toolbox-container .toolbox-wrapper .toolbox {
    position: fixed;
    background-color: #39aba0;
    z-index: 9999;
    bottom: 38px;
    max-height: 48px;
    width: 416px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 3px;
}
.pdf-thumbnail-bar.hide {
    margin-left: -88px;
    z-index: 999;
}
.pdf-thumbnail-bar {
    position: fixed;
    top: 88px;
    height: 81vh;
    overflow: hidden;
    width: 100px;
    overflow: auto;
    background-color: #F1F3F7;
    border-right: #DCE0E3 1px solid;
    padding: 22px 24px;
    transition: all 0.5s;
}
