/*********************************** Sidebar **************************/

#kt_header_mobile a img {
  width: 100px !important;
  margin-left: 5px;
  margin-top: -7px;
}

.brand-toggle svg {
  color: #fff !important;
}

.brand-dark .header-mobile {
  background-color: #1e1e2d;
}

.brand-dark .brand {
  background-color: #1e1e2d;
}

.aside-menu {
  background-color: #1e1e2d;
}

.aside {
  background-color: #1e1e2d;
}

.menu-icon svg {
  width: 17px !important;
}

.aside .aside-menu .menu-nav {
  margin: 0;
  list-style: none;
  padding: 0px 0;
  width: 270px;
}

.menu-item .menu-link {
  background: #1e1e2d !important;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
  background-color: #1d3d74;
}

.aside-menu
  .menu-nav
  > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover
  > .menu-heading,
.aside-menu
  .menu-nav
  > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover
  > .menu-link {
  background-color: #1d3d74;
}

.aside-menu .menu-nav > .menu-section .menu-text {
  color: #4a4b68;
}
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
  color: #b5b5c3;
}

.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: none;
  text-transform: initial;
}

.aside-menu .menu-nav > .menu-item > .menu-heading .menu-icon,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-icon {
  flex: 0 0 25px;
  font-size: 1.3rem;
}

.aside-menu .menu-nav > .menu-item > .menu-link {
  padding: 5px 25px;
}

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link {
  cursor: pointer;
  min-height: 25px;
}

.aside-menu .menu-nav > .menu-item > .menu-heading,
.aside-menu .menu-nav > .menu-item > .menu-link {
  cursor: pointer;
  min-height: 35px;
}
.asideHeading {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.07em;
}

.formWidth {
  width: 90% !important;
}
@media print {
  body {
    margin: 0;
    color: #000;
    background-color: rgb(218, 38, 38);
  }

}

/*********************************** Sidebar **************************/
