ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2 {
  /* display: !important; */
}

ul.sticky-toolbar.nav.flex-column.pl-2.pr-2.pt-3.pb-3.mt-4 {
  /* display: ; */
}

.borderGap {
  border-bottom: 1px dashed #e5eaee;
  margin-bottom: 20px;
  width: 100%;
}

.site-name {
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
}

@media (min-width: 992px) {
  .header-fixed.subheader-fixed.subheader-enabled .wrapper {
    padding-top: 70px;
  }
}

@media (max-width: 991.98px) {
  .subheader-enabled .content {
    padding-top: 15px;
  }
}

.aside-minimize .brand .brand-logo span {
  display: none;
}

.site_name_login {
  text-transform: uppercase;
  font-weight: 800;
  color: #2f3044;
  margin-top: -5px !important;
}

.login-label {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #000000 !important;
}

/* Design Dash Board */

.dashboard-card {
}

.shipping-card {
  background-color: #4a7dff;
  padding-top: 30px;
  padding-bottom: 5px !important;
}

.shipping-card h2 {
  color: white;
  font-weight: 800;
  padding-top: 15px;
}

.second-color {
  background-color: #3699ff;
}

.shipping-card p {
  color: white;
  font-size: 12px;
}

.spacer {
  padding-left: 30px;
}

/* Design Dash Board */
/* custome form design */
.formHeight {
  height: 30px;
}
label.formFont.form-label {
  font-size: 11px !important;
  margin-bottom: 0px !important;
}
button.saveButton {
  height: 29px;
  line-height: 10px;
}
.cancelButton {
  background-color: #aeaeae !important;
}
/* login page  */
input.form-control.emailinput {
  background: #fcfcfc !important;
  box-shadow: #00000029 !important;
  border: 1px solid #95989a4d !important;
  height: 36px !important;
}
.form-control:focus {
  color: #000000 !important;
}
a#kt_login_forgot {
  color: #172b4d !important;
}
button#kt_login_signin_submit {
  background: #1d3d74;
  border: 1px solid #1d3d74;
  box-shadow: #00000029 !important;
  width: 201px;
}
.heading {
  color: #160637;
  font-size: 30px !important;
}
span.loginText {
  font-weight: 500;
}
a {
  color: #4174aa !important;
  font-size: 12px;
}
img.loginpageLogo {
  width: 180px;
  margin-bottom: 50px;
}
.login.login-1 .login-aside {
  width: 100%;
  /* max-width: 600px; */
  flex-basis: 40% !important;
}
