/* Large devices (desktops) */

@media (max-width: 1024px) {
}

/* Medium devices (landscape phones, 576px and up) */

@media (max-width: 992px) and (min-width: 768px) {
 

    
}

/*  small devices (portrait phones, less than 576px) */

@media (max-width: 425px) {

}
/* extra small */
@media (max-width: 375px) {


}
