
.chart__head {
  padding-top: 10px;
  padding-left: 10px;
}
.chart__head p{
padding-top: 10px;

}

canvas.chart-right.chartjs-render-monitor {
    width:440px;
}
/* Circular Progress Bar Starts */

.action__needed{
  background:white;
  padding: 15px;

  box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
    border: 10px;
}

svg.CircularProgressbar.progress__bar {
 padding-top: 30px;
width: 24% !important;
}
   .action__head h4{
       font-size: 1.275rem;
       font-weight: 600;
   }


/* Circular Progress Bar Ends */