/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* All Mobile Devices */
@media (min-width: 320px) and (max-width: 991.98px) {
  .flex-row-fluid.d-flex.flex-column.position-relative.loginPage {
    max-width: 100% !important;
  }

  .login-aside.d-flex.flex-row-auto.loginBg {
    max-width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .login.login-1 .login-aside {
    height: 100vh;
  }
  .dashboard__pb {
    padding-bottom: 0px;
  }
  .chart__box {
    height: 410px;
  }
  .dough__main {
    padding-top: 0px;
  }
  .doug__left {
    padding-top: 0px;
  }
  .dashboard-cardsection {
    padding-top: 30px;
  }
  .chart__box {
    height: 407px !important;
  }
  .login-signin {
    margin-top: -78px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 425px) {
  .dashboard__pb {
    padding: 10px;
  }
  .dough__main,
  .doug__left {
    padding-top: 0px !important;
  }
  .chart__box {
    height: 506px !important;
  }

  .loginBg {
    display: none !important;
  }
  .login-signin {
    margin-top: -150px !important;
  }
  .btn.btn-icon.btn-clean.btn-dropdown.btn-lg.mr-1 {
    margin-right: 8px !important;
  }
  h1.tableheading {
    margin-left: 13px;
  }
  i.fas.fa-calendar-alt {
    top: 25px;
    left: 245px;
    color: #b5b5c3 !important;
  }
  .tbl-survey {
    width: 100% !important;
  }
  .voyageTable i.fas.fa-trash-alt.editIcon.ml-4 {
    margin-left: 0px !important;
  }
  .voyageTable td,
  th,
  ._1hzhf {
    font-size: 10px !important;
  }
  button.btn.approve {
    font-size: 9px;
  }
  i.editIcon {
    font-size: 10px;
    padding: 6px;
    margin-right: 4px;
  }
  .tbl-standard thead tr th {
    font-size: 9px !important;
  }
  .form-group label.voyagelist-formlabel {
    font-size: 10px !important;
    margin-left: 15px;
  }
  ._3uApM {
    margin-top: -8px !important;
    margin-left: 19px;
  }
  .form-group label {
    font-size: 11px !important;
  }
  label.form-label.mt-2.formFont {
    margin-top: 0px !important;
  }
  ._2Jtxm._35Ago ._2kL0S {
    margin-left: 0px;
  }
  ._2Jtxm {
    margin-left: 0px;
  }
  ._1Lo2h {
    width: 97%;
  }
  ._hsN1w {
    margin-right: 16px;
  }
  h3 {
    font-size: 14px !important;
  }
  .header-fixed.subheader-fixed.subheader-enabled .wrapper {
    padding-top: 6px !important;
  }
  table.table.table.item-add-table th,
  tr,
  td {
    font-size: 10px !important;
  }
  .item-list-icon.ml-4 {
    margin-left: 0px !important;
  }
  .completion-date {
    margin-top: 14px;
  }
  i.fas.fa-calendar-alt {
    left: 145px !important;
    top: 22px !important;
  }

  .booking-entry-input.form-group {
    margin-left: -13px;
    width: 105% !important;
  }
  button.booking-listadd-btn {
    font-size: 9px;
  }
  i.item-list-icon {
    font-size: 8px !important;
    margin-left: 0px !important;
  }
}

@media (max-width: 426px) {
  .loginBg  {
    height: 200px;
  }
  .dashboard__pb  {
    padding: 10px;
  }
  .dough__main,
  .doug__left  {
    padding-top: 0px !important;
  }
  .chart__box  {
    height: 506px !important;
  }
  .empty-space  {
    width: 48% !important;
  }
}
@media (max-width: 375px) {
  i.fas.fa-calendar-alt {
    top: 26px;
    left: 203px;
    color: #b5b5c3 !important;
  }
}
