.certificate-list {}

.certificate-list th {
    padding-left: 10px!important;
}

.bg-row-0-days {
    background: #ffc0c7;
}

.bg-row-30-between {
    background: #ffecee;
}

.bg-row-30-between td,
.bg-row-0-days td,
.bg-row-60-more td {
    padding-left: 10px!important;
}

.attachment-file input {
    background: white;
    width: 100%!important;
}

.certificate-list td {
    font-size: 12px!important;
}

.certificate-list tbody {
    border-bottom: 1px solid #eef0f8!important;
}